<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign-In</title>
</head>
<body>
<form th:action="@{/login}" method="GET" enctype="utf8">
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" th:name="email"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:name="password"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>